# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

.bin
.vs
.wav_spli*
.git
x64
x86
*.pdb
*.ilk
*.obj
*.exe
*.dll
*.log
*.suo
*.vcxproj.filters
*.user
*.filters
*.vcxproj.user
*.vcxproj.filters.user
*.vs
*.vsix
*.vsixmanifest
*.vsixuser
*.vsixproj
